
$primary-color:#234b59;
$primary-color-sub:rgba(172, 202, 212, 0.2509803922);
$secundary-color:#a0caa1;
$secundary-color-sub:rgba(159, 201, 162, 0.2784313725);
$primary-degraded: 9px 10px 27px -1px rgba(0, 88, 179, 0.75);
$secundary-degraded: 0 2px 10px rgba(159, 201, 160, 0.5803921569);
$third-degraded: 0px 2px 8px rgba(0, 0, 0, 0.5);
